---
import MainLayout from "../layouts/MainLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
---

<MainLayout>
    <main>
        <h1 class="text-center">Contact Us</h1>
    </main>
</MainLayout>
