---
import MainLayout from "../layouts/MainLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
let title = "FinEdge";
---

<MainLayout>
    <main>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img
                        src="https://keydifferences.com/wp-content/uploads/2014/12/accountintg-vs-finance.jpg"
                        class="d-block mx-lg-auto img-fluid"
                        alt="Bootstrap Themes"
                        width="700"
                        height="500"
                        loading="lazy"
                    />
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                        FinEdge: Redefining Boundaries in Global Payments with
                        Cutting-Edge Fintech Solutions
                    </h1>
                    <p class="lead">
                        FinEdge is a trailblazing fintech company that is
                        revolutionizing global payments with its cutting-edge
                        solutions. Breaking down the barriers imposed by
                        geographical boundaries, FinEdge empowers individuals
                        and businesses to transact seamlessly across borders.
                        With a focus on user experience, their innovative
                        platform simplifies cross-border remittances,
                        international business payments, currency exchange, and
                        more. By combining advanced technology, competitive
                        rates, and robust security measures, FinEdge is
                        redefining the future of global payments, enabling a
                        world where transactions know no limits.
                    </p>
                    <div
                        class="d-grid gap-2 d-md-flex justify-content-md-start"
                    >
                        <button
                            type="button"
                            class="btn btn-success btn-lg px-4 me-md-2"
                            >Primary</button
                        >
                        <button
                            type="button"
                            class="btn btn-outline-secondary btn-lg px-4"
                            >Default</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </main>
</MainLayout>
