---
import MainLayout from "../layouts/MainLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
---

<MainLayout>
    <main>
        <div>
            <div class="container px-4 py-5" id="featured-3">
                <h2 class="pb-2 border-bottom text-center">Services</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">
                            Cross-Border Remittances
                        </h3>
                        <p>
                            FinEdge provides a streamlined and cost-effective
                            solution for individuals and businesses to send and
                            receive money across borders. Their platform
                            simplifies the remittance process, ensuring swift
                            and secure transactions with competitive exchange
                            rates.
                        </p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis text-success">
                            International Business Payments
                        </h3>
                        <p>
                            FinEdge facilitates seamless cross-border
                            transactions for businesses, enabling them to make
                            payments to international suppliers, partners, and
                            vendors. Their platform offers features such as
                            multi-currency support, customizable payment
                            workflows, and automated reconciliation to
                            streamline the entire payment process.
                        </p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis text-success">
                            Currency Exchange Services
                        </h3>
                        <p>
                            FinEdge offers currency exchange services that allow
                            individuals and businesses to convert currencies at
                            competitive rates. Their platform provides real-time
                            currency exchange rates, enabling users to make
                            informed decisions and minimize the impact of
                            exchange rate fluctuations.
                        </p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis text-success">
                            Payment Gateway Integration
                        </h3>
                        <p>
                            FinEdge integrates its payment gateway with
                            e-commerce platforms, enabling businesses to accept
                            cross-border payments from customers worldwide.
                            Their solution supports various payment methods and
                            ensures a secure and seamless checkout experience
                            for both merchants and customers.
                        </p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis text-success">
                            Digital Wallet
                        </h3>
                        <p>
                            FinEdge offers a digital wallet solution that allows
                            users to store and manage multiple currencies
                            digitally. The digital wallet enables users to make
                            payments, transfer funds, and track their
                            transaction history conveniently through a single
                            platform.
                        </p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis text-success">
                            Compliance and Regulatory Support
                        </h3>
                        <p>
                            FinEdge understands the importance of compliance and
                            regulatory requirements in the financial industry.
                            They provide comprehensive support to ensure
                            adherence to international regulations, anti-money
                            laundering (AML) guidelines, and Know Your Customer
                            (KYC) procedures.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</MainLayout>
