---
import MainLayout from "../layouts/MainLayout.astro";
import "bootstrap/dist/css/bootstrap.css";
---

<MainLayout>
    <main>
        <div>
            <h1 class="text-center">Services Page</h1>

            <div class="container px-4 py-5" id="featured-3">
                <h2 class="pb-2 border-bottom">Services</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">Service 1</h3>
                        <p>Description of service 1 goes here.</p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">Service 2</h3>
                        <p>Description of service 2 goes here.</p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">Service 3</h3>
                        <p>Description of service 3 goes here.</p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">Service 4</h3>
                        <p>Description of service 4 goes here.</p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">Service 5</h3>
                        <p>Description of service 5 goes here.</p>
                    </div>
                    <div class="col">
                        <h3 class="fs-2 text-body-emphasis">Service 6</h3>
                        <p>Description of service 6 goes here.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</MainLayout>
